<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Comparison (local)</title>
    <style>
        body {
            background-color: black;
            color: darkgrey;
        }
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            padding: 10px;
            border: 1px solid darkgrey;
            font-size: 14px;
        }
        .no-wrap {
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <h1>Code Comparison</h1>
    <button onclick="goBack()">Return</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <br>
    <br>
    <form action="/code_comp" method="post">
        <label for="p1">Path 1:</label>
        <input type="text" id="p1" name="path1" required>

        <label for="p2">Path 2:</label>
        <input type="text" id="p2" name="path2" required>

        <button type="submit">Run Code Comparison</button>
    </form>
    <br>
    <div class="no-wrap" style="background-color: black; color: darkgrey; padding: 10px; margin-top: 20px;">
        {{ result | safe }}
    </div>
</body>
</html>
