<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Comparison (FTP)</title>
    <style>
        body {
          background-color: black;
          color: darkgrey;
        }
    </style>
</head>
<body>
    <h1>Code Comparison</h1>
    <button onclick="goBack()">Return</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <br>
    <br>
    <form action="/ftp" method="post">
        <label for="host1">Host 1:</label>
        <input type="text" id= "host1" name="host1" required>
        <label for="host2">Host 2:</label>
        <input type="text" id= "host2" name="host2" required>
        <br>

        <label for="user1">Username 1:</label>
        <input type="text" id= "user1" name="user1" required>
        <label for="user2">Username 2:</label>
        <input type="text" id= "user2" name="user2" required>
        <br>

        <label for="pass1">Password 1:</label>
        <input type="text" id= "pass1" name="pass1" required>
        <label for="pass2">Password 2:</label>
        <input type="text" id= "pass2" name="pass2" required>
        <br>

        <label for="p1">Path 1:</label>
        <input type="text" id= "p1" name="path1" required>
        <label for="p2">Path 2:</label>
        <input type="text" id= "p2" name="path2" required>
        <br>
        <button type="submit">Run Code Compare</button>
    </form>
    <br>
    <pre>{{ result | safe}}</pre>
</body>
</html>
