<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Check (FTP)</title>
    <style>
        body {
          background-color: black;
          color: darkgrey;
        }
    </style>
</head>
<body>
    <h1>Link Check</h1>
    <button onclick="goBack()">Return</button>
    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    <br>
    <br>
    <form action="/link_check_ftp" method="post">
        <label for="host">Host (URL):</label>
        <input type="text" id= "host" name="host" required>
        <br>
        <label for="user">Username:</label>
        <input type="text" id= "user" name="user">
        <br>
        <label for="pass">Password:</label>
        <input type="text" id= "pass" name="pass">
        <br>
        <label for="p">FTP Path:</label>
        <input type="text" id= "p" name="path">
        <br>
        <button type="submit">Run Link Check</button>
    </form>
    <br>
    <pre>{{ result | safe}}</pre>
</body>
</html>
